body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: #333;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
}

.hero h1{
    text-transform: uppercase;
    font-size: 72px;
    padding-bottom: 0;
    margin-top: 0;
    color: crimson;
    font-weight: 900;
}
.hero p{
    margin-top: 0;
    padding-top: 0;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 700;
}