html{
    transition: ease-in-out .5s;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: #333;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
}

.hero h1{
    text-transform: uppercase;
    font-size: 72px;
    padding-bottom: 0;
    margin-top: 0;
    color: crimson;
    font-weight: 900;
}
.hero p{
    margin-top: 0;
    padding-top: 0;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 700;
}

.mode {
    transition: all .5s ease-in-out;
    filter: invert(1);
    background-color: #333;
}

#mode{
    position: fixed;
    right: 0;
    margin: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: solid thin;
    border-radius: 5px;
    cursor: pointer;

}
#light{
    position: fixed;
    right: 100px;
    margin: 20px;
    background-color: whitesmoke;
    color: #333;
    cursor: pointer;
    padding: 10px 20px;
    border: solid thin;
    border-radius: 5px;

}